.container {
    display: flex;
    height: 100vh; /* Set the height of the container to fill the viewport */
}

.left-container {
    /* Styles for the left container */
    width: 500; /* Fixed width for the left container */
}

.right-container {
    /* Styles for the right container */
    flex: 1; /* Allow the right container to grow and fill available space */
}

#map-container {
    /* Styles for the map container */
    width: 100%; /* Ensure the map container fills the entire right container */
    height: 100%; /* Ensure the map container fills the entire right container */
}


.left-container .checkbox-label {
    font-size: 25px; /* Adjust the font size as needed */
}

input[type="checkbox"] {
    margin-top: auto;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

button[type="submit"] {
    width: 150px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-size: 20px; /* Adjust the font size as needed */
    background-color: black; /* Set the background color to blue */
    color: white;
    font-weight: bold;
    padding-bottom: 5px;
}

#location-input {
    width: 250px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    font-size: 16px; /* Adjust font size as needed */
    padding: 5px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
}

/* Add this CSS to your existing places.css file or create a new CSS file */

input[type="text"] {
    width: 300px;
    height: 30px;
    margin-right: 15px; /* Add spacing between input fields */
    margin-bottom: 15px; /* Add spacing between input fields and the button */
    font-size: 16px;
    padding: 5px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 248px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}





