.container {
    display: flex;
}


.left-container {
    /* Styles for the left container */
    width: 350px; /* Fixed width for the left container */
}

.right-container {
    flex: 1;
    width: 100px; /* Or specify a fixed width */
    height: 550px; /* Or specify a fixed height */
    position: relative;
    z-index: 0;
}

#map-container {
    /* Styles for the map container */
    width: 100%; /* Ensure the map container fills the entire right container */
    height: 100%; /* Ensure the map container fills the entire right container */
}


.left-container .checkbox-label {
    font-size: 25px; /* Adjust the font size as needed */
}

input[type="checkbox"] {
    margin-top: auto;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

button[type="submit"] {
    width: 150px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-size: 20px; /* Adjust the font size as needed */
    background-color: black; /* Set the background color to blue */
    color: white;
    font-weight: bold;
    padding-bottom: 5px;
}

#location-input {
    width: 250px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    font-size: 16px; /* Adjust font size as needed */
    padding: 5px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
}

/* Add this CSS to your existing places.css file or create a new CSS file */

input[type="text"] {
    width: 300px;
    height: 30px;
    margin-right: 15px; /* Add spacing between input fields */
    margin-bottom: 15px; /* Add spacing between input fields and the button */
    font-size: 16px;
    padding: 5px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 248px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar {
    background-color: #222;
    padding: 10px;
    position: fixed; /* Position navbar absolutely */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Align with the left edge of the viewport */
    right: 0;
    width: 100%; /* Take the full width of the viewport */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure navbar is above other content */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly */
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #444;
}

.navbar-right {
    /* You can add styles here for the right side of the navbar */
    display: flex; /* Use flexbox for right side */
    align-items: center; /* Center items vertically */
    margin-right: 20px;
}



