/* Styles for the top panel */
.top-panel {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 13px; /* Increased padding */
}

/* Styles for the left buttons */
.left-buttons a {
  text-decoration: none;
  color: white;
  margin-right: 40px; /* Increased margin for spacing */
  transition: color 0.3s; /* Smooth transition effect */
}

/* Change button color on hover */
.left-buttons a:hover {
  color: #ffd700; /* Change to your desired color */
}

/* Styles for the right buttons */
.right-buttons {
  position: relative;
  padding-right: 55px;
}

/* Dropdown button */
.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(107, 112, 117);
  min-width: 160px;
  z-index: 1;
  right: 0; /* Aligning the dropdown to the right */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #555;
}

/* Styles for the image container */
.image-container {
width: 100%; /* Adjust as needed */
height: 620px;
overflow: hidden; /* Prevent images from overflowing */
margin-top: 5px;
}

/* Slideshow container */
.slideshow-container {
max-width: 100%; /* Ensure slideshow fits container */
position:relative;
margin: auto;
}

.mySlides {
width: 100%;
height: 540px;
}

/* Hide the images by default except for the first one */
.mySlides:not(:first-child) {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}

/* Position the next button to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
background: rgba(0,0,0,0.5);
}

/* Number text (1/3, 2/3, etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

/* On hover, add a grey background color */
.active, .dot:hover {
background-color: #717171;
}

