/* styles.css */
body, html {
    margin-top: 80px;
    font-family: Arial, sans-serif;
  }

.trip-planner {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select#destination {
    font-weight: lighter;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* CSS for the options within the select element */
select#destination option {
    font-weight: normal;
    font-size: 14px;
}

.dates input[type="date"] {
    width: calc(50% - 10px);
    margin-right: 160px;
    font-size: 15px;
    color: grey;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.startPlanning {
    margin-top: 20px;
}

p {
    font-size: 14px;
    color: #888;
}

