<!-- routing2.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Map Places</title>
<link rel="stylesheet" href="{% static 'routing/routing.css'%}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>
<body>
<nav style="background-color: #222;
padding: 10px;
position: fixed; /* Position navbar absolutely */
top: 0; /* Position at the top of the viewport */
left: 0; /* Align with the left edge of the viewport */
right: 0;
width: 100%; /* Take the full width of the viewport */
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
z-index: 1; /* Ensure navbar is above other content */
display: flex; /* Use flexbox */
justify-content: space-between; /* Space items evenly */">
    <div class="navbar-left">
        <div style="font-family:Arial, Helvetica, sans-serif ; color: white; font-size: x-large; font-weight: bold; padding-left: 100px;">TripKerala</div>
    </div>
    <div class="navbar-right">
        <a href="{% url 'welcome' %}" class="nav-link" style="font-family:Arial, Helvetica, sans-serif; color: white; padding-right: 20px;">Home</a>
        <a href="{% url 'signout' %}" class="nav-link" style="font-family:Arial, Helvetica, sans-serif; color: white; padding-right: 30px;">Logout</a>
    </div>
</nav>
<div class="container" style="padding-top: 70px;">
    <div class="left">
        <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large;">Select Destinations</h1>
        <form method="post" action="">
            {% csrf_token %}
            <div id="places-container">
                <div class="place">
                    <input type="text" name="places[0]" placeholder="Enter origin" oninput="filterPlaces(this)">
                    <div class="dropdown-content" id="dropdown-places"></div>
                    <button class="add-place-btn" onclick="addPlace(this)">+</button>
                </div>
                <button type="submit" name="route_button">Route</button>
            </div>
        </form>
        <div style="margin-top: 90px;"></div>
        {% if optimal_route %}
            <div class="results">
                <h2 style="font-size: 20px;">Optimal Route:</h2>
                <p>{{ optimal_route | linebreaksbr }}</p>
            </div>
        {% endif %}
        {% if total_distance %}
            <div class="result" >
                <h2 style="font-size: 20px;">Total Distance:</h2>
                <p>{{ total_distance }}</p>
            </div>
        {% endif %}
    </div>
    <div class="right" >
        <div id="map-container"></div>
    </div>
</div>
<script src="{% static 'routing/routing.js'%}"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    // Load the map from the provided map file path
    var map = L.map('map-container'); // Initialize map
    
    // Add the base tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // List of coordinates and names, assuming it's provided in the view from views.py
    var coordinates = {{ coordinates|safe }};
    var names = {{ names|safe }};
    var coord_list = {{ coord_list|safe }};

    // Check if coordinates exist
    if (coordinates.length > 0 && names.length === coordinates.length) {
        var firstCoordinate = coordinates[0].location;
        map.setView([firstCoordinate[0], firstCoordinate[1]], 8); // Set initial view to the first coordinate

        var bounds = [];
        for (var i = 0; i < coordinates.length; i++) {
            var coordinate = coordinates[i].location;
            var lat = coordinate[0];
            var lon = coordinate[1];
            var name = names[i];

            // Add marker to the map
            var marker = L.marker([lat, lon]).addTo(map);
            bounds.push([lat, lon]);

            // Bind popup to marker with the name of the place
            marker.bindPopup(name);
        }

    }

    // Event listener for map clicks
    map.on('click', function(e) {
            // Get the coordinates where the user clicked
            var clickedLat = e.latlng.lat;
            var clickedLng = e.latlng.lng;

            // Reverse geocode the coordinates to get the location name
            fetch('https://api.geoapify.com/v1/geocode/reverse?lat=' + clickedLat + '&lon=' + clickedLng + '&format=json&apiKey=49503ab6c1784c298a09120883307386')
                .then(response => response.json())
                .then(data => {
                    var formattedAddress = data.results[0].formatted;

                    // Create a popup with the formatted address and display it at the clicked location
                    L.popup()
                        .setLatLng([clickedLat, clickedLng])
                        .setContent(formattedAddress)
                        .openOn(map);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
</script>
</body>
</html>
