<!-- routing2.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Map Places</title>
<link rel="stylesheet" href="{% static 'routing/routing3.css'%}">
</head>
<body>
<div class="container">
    <div class="left">
        <h1>Select Destinations</h1>
        <form method="post" action="">
            {% csrf_token %}
            <div id="places-container">
                <div class="place">
                    <input type="text" name="places[]" placeholder="Enter a place" oninput="filterPlaces(this)">
                    <div class="dropdown-content" id="dropdown-places"></div>
                    <button class="add-place-btn" onclick="addPlace(this)">+</button>
                </div>
                <button type="submit" name="route_button">Route</button>
            </div>
        </form>
    </div>
    <div class="right">
        <div id="map-container">
            {% if map_html %}
                {{ map_html | safe }}
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'routing/routing3.js'%}"></script>
</body>
</html>
