{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripKerala</title>
    <link rel="stylesheet" href="{% static 'welcome/welcome.css' %}">
</head>
<body>

<div class="top-panel">
  <div class="left-buttons">
    <a href="{% url 'places' %}" style="font-size: large; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Journal</a>
    <a href="{% url 'routing' %}" style="font-size: large; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Bucket list</a>
    <a href="{% url 'places' %}" style="font-size: large; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Explore</a>
    <a href="{% url 'routing' %}" style="font-size: large; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Optimal route</a>
  </div>
  <div class="right-buttons">
    <div class="dropdown">
      <button class="dropbtn" style="font-size:large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">User</button>
      <div id="dropdown-content" class="dropdown-content">
        <a href="{% url 'places' %}" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Profile</a>
        <a href="{% url 'routing' %}" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Logout</a>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'welcome/welcome.js' %}"></script>
</body>
</html>
