{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'welcome/welcome.css'%}">
    <title>Trip Planner</title>
</head>
<body>
    <div class="trip-planner">
        <h1>Welcome {{ email }}!</h1>
        <h2>Craft your journey!</h2>
        <form id="tripForm">
            <input type="text" id="destination" style="font-weight: bold" placeholder="Where to?" required>
            <div class="dates">
                <label for="startDate" style="font-size: 13px; font-weight: bold; padding-right: 10px;">StartDate</label>
                <input type="date" id="startDate" placeholder="Start date">

            <div>
                <label for="endDate" style="font-size: 13px; font-weight: bold; padding-right: 10px;">EndDate</label>
                <input type="date" id="endDate" placeholder="End date">
            </div>
            </div>
            <button type="submit" class="startPlanning">Start planning</button>
            <button type="button" onclick="invite()">+ Invite tripmates</button>
            <!-- Dropdown for friends will be appended here -->
        </form>
    </div>

    <script>
     function invite() {
        var friendInput = prompt("Enter the email or phone number of the friend you want to invite:");

        // Check if user entered something
        if (friendInput !== null && friendInput.trim() !== "") {
            alert("Invite sent");
        }
    }

    </script>
</body>
</html>
