{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Page</title>
    <link rel="stylesheet" href="{% static 'places/places2.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div class="container">
        <div class="left-container">
            <form action="{% url 'places' %}" method="post">
                {% csrf_token %}
                <div style="position: relative;">
                    <input type="text" name="places[0]" placeholder="Enter Location" oninput="filterPlaces(this)">
                    <div class="dropdown-content" id="dropdown-places"></div>
                </div>
                <div>
                    <label style="color: peru; font-size: large;">Accommodation</label><br> 
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="accommodation.hotel"> Hotel</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="accommodation.apartment"> Apartment</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="accommodation.motel"> Motel</label><br>
                    <label style="color: peru; font-size: large;">Activities</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="activity"> Activity</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="beach"> Beach</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="entertainment"> Entertainment</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="man_made"> Man Made</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="natural"> Natural</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="leisure"> Leisure</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="tourism"> Tourism</label><br>
                    <label style="color: peru; font-size: large;">Amenities </label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="amenity"> Amenity</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="childcare"> Childcare</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="education"> Education</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="healthcare"> Healthcare</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="office"> Office</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="pet"> Pet</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="religion"> Religion</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="service"> Service</label><br>
                    <label style="color: peru; font-size: large;">Catering</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="catering.cafe"> Cafe</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="catering.fast_food"> Fast Food</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="catering.restaurant"> Restaurant</label><br>
                    <label style="color: peru; font-size: large;">Commercial</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.books"> Books</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.clothing"> Clothing</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.convenience"> Convenience</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.department_store"> Department Store</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.food_and_drink"> Food and Drink</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.gas"> Gas</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.gift_and_souvenir"> Gift and Souvenir</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.health_and_beauty"> Health and Beauty</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.hobby.music"> Music</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.hobby.photo"> Photography</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.marketplace"> Marketplace</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.shopping_mall"> Shopping Mall</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.stationery"> Stationery</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.supermarket"> Supermarket</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="commercial.vehicle"> Vehicle</label><br>
                    <label style="color: peru; font-size: large;">Transport</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="airport"> Airport</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="highway"> Highway</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="parking"> Parking</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="railway"> Railway</label><br>
                    <label class="checkbox-label"><input type="checkbox" name="categories" value="rental"> Rental</label><br><br>
                    <button type="submit" name="places-button">Submit</button>
                </div>
            </form>
        </div>
        <div class="right-container">
            <div style="color: blue; font-size: large; padding-bottom: 0%;">{% if message %}
                    {{ message }}
                {% endif %}</div><br>
            <div id="map-container"></div>
        </div>
    </div>

    <script src="{% static 'places/places2.js'%}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Load the map from the provided map file path
        var map = L.map('map-container').setView({{ coordinates }}, 15); // Initial center and zoom level
    
        // Add the base tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
    
        // Add markers to the map
        var markersData = {{ markers_data|safe }};
        markersData.forEach(function(markerData) {
            if (markerData && markerData.name && markerData.lat && markerData.lon && markerData.categories && markerData.address) {
                var name = markerData.name;
                var lat = markerData.lat;
                var lon = markerData.lon;
                var categories = markerData.categories;
                var address = markerData.address;
            } else {
                console.error("Missing data for marker:", markerData);
            }
            
            // Create marker
            var marker = L.marker([lat, lon]).addTo(map);
    
            // Create popup content
            var popupContent = '<b>' + name + '</b><br>' + address + '<br><br>Categories:<br>' + categories.replace(/,/g, '<br>');
    
            // Bind popup to marker
            marker.bindPopup(popupContent);
        });
    
        // Assuming red marker coordinates and name are passed from views
        var redMarkerCoordinates = {{ coordinates }};

        var greenIcon = L.icon({
            iconUrl: '{% static 'places/red_marker.png' %}',

            iconSize:     [50, 50], // size of the icon
            iconAnchor:   [25, 65], // point of the icon which will correspond to marker's location
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

        // Create marker outside the loop
        var redMarker = L.marker(redMarkerCoordinates, {icon: greenIcon}).addTo(map);

        // Create popup content for the red marker
        var redMarkerPopupContents = "{{ place }}";

        // Bind popup to the red marker
        redMarker.bindPopup(redMarkerPopupContents);
        
        // Event listener for map clicks
        map.on('click', function(e) {
            // Get the coordinates where the user clicked
            var clickedLat = e.latlng.lat;
            var clickedLng = e.latlng.lng;

            // Reverse geocode the coordinates to get the location name
            fetch('https://api.geoapify.com/v1/geocode/reverse?lat=' + clickedLat + '&lon=' + clickedLng + '&format=json&apiKey=49503ab6c1784c298a09120883307386')
                .then(response => response.json())
                .then(data => {
                    var formattedAddress = data.results[0].formatted;

                    // Create a popup with the formatted address and display it at the clicked location
                    L.popup()
                        .setLatLng([clickedLat, clickedLng])
                        .setContent(formattedAddress)
                        .openOn(map);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
    
</body>
</html>
